/* CSS Reset */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  align-items: center;
  flex-grow: 1;
}

footer {
  background-color: #131931;
  width: 100%;
}

/* Style of buttons */
a {
  color: #f2f2f2;
  background-color:#FFC04D;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 22px;
  transition: all 500ms ease;
  display: inline-block;
  overflow: hidden; 
}

/* Change the color on hover of the button */
a:hover {
  background-color: #ddd;
  color: black;
}
  
/* Add a color to the current page button */
a.active {
  background-color: gray;
  color: white;
}

/* Photo Centering */
.photo-center {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content:left;
}

/* Text Centering */
.text-center {
  text-align: center;
  padding: 1em;
}

/* Information boxes, met behulp van https://www.w3schools.com/howto/howto_js_tab_img_gallery.asp */
.containerbox {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  padding: 10px;
  border: 3px solid gray;
  background-color: gray;
  margin: 0.2em;
  transition: transform .2s;
}

.containerbox a:hover {
  transform: scale(1.055);
}

.containerbox img {
    width: 5em;
}

.containerbox p {
  font-size: 15px;
  padding-left: 20px;
}

.containerbox h2 {
  font-size: 17px;
  padding-left: 20px;
}

/* Puts the info boxes in order */
.containerorder {
  padding: 2em;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Hero Homepage Styling, credit https://www.shecodes.io/athena/11902-creating-homepage-hero-with-html-and-css */
.hero {
  background-image: url('images/BlurredHeroImage.png');
  height: 15vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Styling for the H1 element within the Hero */
.h1hero {
  font-size: 3rem;
  background-color: transparent;
  margin-bottom: 20px;
}

/* Styling for the Paragraph element within the Hero */
.hero img {
  height: auto;
  width: auto;
}
