/* CSS Reset */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Fonts */
@font-face {
  font-family: Infinity;
  src: url(fonts/made_infinity/MADEINFINITYPersonalUse-Medium.otf)
}

@font-face {
  font-family: LemonMilk;
  src: url(fonts/lemon_milk/LEMONMILK-Bold.otf)
}

@font-face {
  font-family: LouisGeorgeCafé;
  src: url(fonts/louis_george_cafe/Louis\ George\ Cafe.ttf)
}

/* Body Make up */
body {
  background-color: #e7e7e7;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  align-items: center;
  flex-grow: 1;
}

footer {
  background-color: #131931;
  color: #ffffff;
  width: 100%;
}

/* Text make up */
h1{
  font-family: LemonMilk;
}

h2,h4{
  padding: 1em;
  font-family: Infinity;
}

p{
  font-family: LouisGeorgeCafé;
}

/* Navigation make up */
nav {
  display: flex;
  justify-content:space-evenly;
}

/* Button make up */
nav a{
  background-color:#FFC04D;
}

/* Image Size */
nav img{
  margin-top: 2px;
  height: 1.7em;
  width: 1.7em;
}

/* Style of buttons */
a {
  color: #000000;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  transition: all 500ms ease;
  display: inline-block;
  border-radius: 25px;
}
  
/* Add a color to the current page button */
a.active {
  background-color: gray;
  color: white;
}

/* Photo Centering */
.photo-center {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content:left;
}

/* Text Centering */
.text-center {
  text-align: center;
  padding: 1em;
}

/* Information boxes, met behulp van https://www.w3schools.com/howto/howto_js_tab_img_gallery.asp */
.containerbox {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  padding: 10px;
  background-color: #FFA500;
  margin: 0.2em;
  border-radius: 25px;
  border: 4px solid #ffffff;
}

.containerbox a {
  height: 2em;
  padding-bottom: 30px;
  margin: 20px;
  background-color:#FFC04D;
}

.containerbox img {
  width: 7em;
  height: auto;
  border-radius: 25px;
  border: 6px solid #ffffff;
}

.containerbox p, h2{
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

/* Puts the info boxes in order */
.containerorder {
  padding: 2em;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

/* Hero Banners on the top of each page */
.hero {
  background-image: url('images/BlurredHeroImage.png');
  height: 25vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Styling for the Image element within the Hero */
.hero img {
  height: auto;
  width: auto;
}